/* selectors */

table {
    width: 100%;
}

body {
    background-color: grey;
}

/* class */
    .center {
        text-align: center;
    }

    .content {
        width: 60%;
      
    }

    .nav-bar{
        background-color: lightgray;
    }
/* id's */