/* selectors */

table {
    width: 60%;
}

body {
    background-color: grey;
    width: 60%;
}

nav {
    width: 60%;
}

/* class */
.center {
    text-align: center;
}

.content {
    background-color: lightgray;
}

.nav-bar {
    background-color: darkgray;
    padding: 20px;
}

.content-space {
    padding: 20px;
}

.font-style {
    font-family: Monospace;
    font-align: left;
}


/* id's */